*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

.pw__container{
margin: auto;
width: 50%;
border: 2px solid;
border-radius: 16px;
}
h1{
    text-align: center;
}
button{
    margin-left: 15px;
}